.tile {
    background-size: cover;
}

@media only screen and (min-width: 700px) {
    .tile-sm{
        height: 14rem !important;
    }
}

@media only screen and (max-width: 700px) {
    article.tile.is-child.notification {
        height: 10rem !important;
    }
}