<div class="container is-max-widescreen section" *ngIf="recipes !== undefined && recipes !== null">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent" [routerLink]="['/recettes', recipes[0].code]">
          <article class="tile is-child notification has-text-white tile-sm" style="background-image:url({{recipes[0].mainPhoto.url}});">
            <p class="title">{{recipes[0].name}}</p>
            <p class="subtitle">{{recipes[0].description}}</p>
          </article>
        </div>
        <div class="tile is-parent" [routerLink]="['/recettes', recipes[1].code]">
          <article class="tile is-child notification has-text-white tile-sm" style="background-image:url({{recipes[1].mainPhoto.url}});">
              <p class="title">{{recipes[1].name}}</p>
              <p class="subtitle">{{recipes[1].description}}</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent" [routerLink]="['/recettes', recipes[2].code]">
        <article class="tile is-child notification has-text-white" style="background-image:url({{recipes[2].mainPhoto.url}});">
          <p class="title">{{recipes[2].name}}</p>
          <p class="subtitle">{{recipes[2].description}}</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent" [routerLink]="['/recettes', recipes[3].code]">
      <article class="tile is-child notification has-text-white" style="background-image:url({{recipes[3].mainPhoto.url}});">
        <p class="title">{{recipes[3].name}}</p>
        <p class="subtitle">{{recipes[3].description}}</p>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent" [routerLink]="['/recettes', recipes[4].code]">
      <article class="tile is-child notification has-text-white" style="background-image:url({{recipes[4].mainPhoto.url}});">
        <p class="title">{{recipes[4].name}}</p>
        <p class="subtitle">{{recipes[4].description}}</p>
      </article>
    </div>
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent" [routerLink]="['/recettes', recipes[5].code]">
          <article class="tile is-child notification has-text-white tile-sm" style="background-image:url({{recipes[5].mainPhoto.url}});">
            <p class="title">{{recipes[5].name}}</p>
            <p class="subtitle">{{recipes[5].description}}</p>
          </article>
        </div>
        <div class="tile is-parent" [routerLink]="['/recettes', recipes[6].code]">
          <article class="tile is-child notification has-text-white tile-sm"
          style="background-image:url({{recipes[6].mainPhoto.url}});">
            <div class="content">
              <p class="title">{{recipes[6].name}}</p>
              <p class="subtitle">{{recipes[6].description}}</p>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent" [routerLink]="['/recettes', recipes[7].code]">
        <article class="tile is-child notification has-text-white" style="background-image:url({{recipes[7].mainPhoto.url}});">
          <p class="title">{{recipes[7].name}}</p>
          <p class="subtitle">{{recipes[7].description}}</p>
        </article>
      </div>
    </div>
  </div>

  <nav class="section pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" [attr.disabled] = "current <= 1 ? 'disabled' : null" [routerLink]="['/recettes/page', current-1]">Précédent</a>
    <a class="pagination-next" [attr.disabled] = "current >= size ? 'disabled' : null" [routerLink]="['/recettes/page', current+1]">Suivant</a>
    <ul class="pagination-list">
      <li><a class="pagination-link" [routerLink]="['/recettes/page', 1]">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link is-current" aria-current="page">{{current}}</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" [routerLink]="['/recettes/page', size]">{{size}}</a></li>
    </ul>
  </nav>

</div>