<section class="hero is-info bg-img">

    <app-navbar></app-navbar>

    <div class="hero-body" style="padding-top: 15px!important; padding-bottom: 10px!important;">
        <div class="container has-text-centered" *ngIf="token">
            <figure  class="image is-inline-block" style="height: 256px; width: 256px;">
                <img class="is-rounded" [src]="token.avatarUrl"/>
            </figure>
        </div>
        <div class="container has-text-centered" *ngIf="!token">
            <figure class="image is-inline-block" style="height: 256px; width: 256px;">
                <img class="is-rounded" src="../../assets/images/inforpatissien.png"/>
            </figure>
        </div>
    </div>

</section>