<nav class="hero-head">
    <header class="navbar is-primary has-text-cornsilk">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>

            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" routerLink="/">
                        Accueil
                    </a>
                    <a class="navbar-item" routerLink="/recettes">
                        Recettes
                    </a>
                </div>
            </div>
        </div>
    </header>
</nav>