<div class="modal" [ngClass]="{'is-active': additionalsModalIsActive}">
  <app-realization-form-additionals *ngIf="additionalsModalIsActive" (closeEvent)="displayAdditionalsModal($event)" [show]="showSubject.asObservable()" [id]="realization.id"></app-realization-form-additionals>
</div>

<div class="modal" [ngClass]="{'is-active': editModalIsActive}">
  <app-realization-form *ngIf="editModalIsActive" [show]="showSubject.asObservable()"></app-realization-form>
</div>

<div class="list-item">
    <div class="list-item-image">
      <figure class="image is-48x48">
        <img class="is-rounded" [src]="realization.mainPhoto.url" alt="">
      </figure>
    </div>

    <div class="list-item-content">
      <div class="list-item-title">{{realization.name}}</div>
      <div class="list-item-description">
        <div class="tag is-rounded">{{realization.description}}</div>
      </div>
    </div>

    <div class="list-item-controls">
      <div class="buttons">
        <button class="button is-dark is-inverted" [routerLink]="['/realisations', realization.id]">
          <span class="icon">
            <i class="fas fa-eye"></i>
          </span>
        </button>

        <button class="button is-dark is-inverted" (click)="edit()">
          <span class="icon">
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>

        <button class="button is-dark is-inverted" (click)="displayPhotosModal(true)">
          <span class="icon">
            <i class="fas fa-camera"></i>
          </span>
        </button>

        <button class="button is-dark is-inverted" (click)="editAdditionals()">
          <span class="icon">
            <i class="fas fa-info"></i>
          </span>
        </button>

        <button class="button is-dark is-inverted" (click)="delete()">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
        </button>
        
        <!--<button class="button is-dark is-inverted">
          <span class="icon">
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </button>-->
      </div>
    </div>
  </div>

  <div class="modal" [ngClass]="{'is-active': photosModalIsActive}">
    <app-realization-photos-form *ngIf="photosModalIsActive" (closeEvent)="displayPhotosModal(false)" [miniRealization]="realization"></app-realization-photos-form>
  </div>