<div class="columns is-flex is-vcentered" [style.margin-top.px]='margin'>
    <div class="column is-11">
        <article class="message">
            <div class="message-body" style="height: 200px!important; overflow: hidden">
                <h2 class="subtitle" style="margin-bottom: 5px;">Étape {{step.order}}</h2>
                {{step.description | recipeStepDescription:step:token}}
            </div>
        </article>
    </div>
    <div class="column is-1">
        <div (click)="displayModalIngredients(true)" style="cursor:pointer;"><i class="fas fa-shopping-basket icon is-medium" ></i></div>
        <i class="fas fa-utensils icon is-medium" *ngIf="step.equipments.length > 0"></i>
        <i class="fas fa-image icon is-medium"  *ngIf="false"></i>
    </div>
</div>


<div id="modal" class="modal" [ngClass]="{'is-active':displayIngredients}">
    <app-recipe-ingredients [step]="step" [recipeIngredients]="recipeIngredients" (closeEvent)="closeModalIngredients($event)"></app-recipe-ingredients>
</div>