<section *ngIf="recipe !== undefined && recipe !== null" class="hero is-info is-fullheight bd-img-receipe" style="background-image:url({{recipe.mainPhoto.url}}); background-position: 50% 50%;">

    <app-navbar></app-navbar>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title" style="font-family: Abril;">
          {{recipe.name}}
        </p>
        <p class="subtitle" style="font-family: Abril;">
          {{recipe.description}}
        </p>
      </div>
    </div>
  </section>