

<section class="section is-small">
    <div class="columns">
        <div class="column is-one-third">
            <app-recipe-step *ngFor="let s of recipe.steps | step : false" [step]="s"></app-recipe-step>
        </div>
        <div class="column is-hidden-mobile">
            <div class="timeline is-centered">
                <header class="timeline-header">
                    <span class="tag is-medium is-primary">Début</span>
                </header>
                <app-recipe-chronology class="timeline is-centered step" *ngFor="let s of recipe.steps" [step]="s"></app-recipe-chronology>
                <header class="timeline-header">
                    <span class="tag is-medium is-primary">Fin</span>
                </header>
            </div>
        </div>
        <div class="column is-one-third">
            <app-recipe-step *ngFor="let s of recipe.steps | step : true" [step]="s"></app-recipe-step>
        </div>
    </div>
</section>