.message-body-right{
    border-width: 0 4px 0 0 !important;
}

.timeline-marker{
    top: 50% !important;
}

.timeline-content{
    padding: 0 2em 0 2em !important;
}

.timeline-item{
    padding-top: 100px;
    padding-top: 100px;
}