<app-recipe-header [recipe]="recipe"></app-recipe-header>

<section class="section is-small" *ngIf="recipe !== undefined && recipe !== null">
    <div class="container is-max-desktop">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Résultat</p>
            <span class="tag is-success is-medium" *ngIf="recipe.success==1">Top</span>
            <span class="tag is-danger is-medium" *ngIf="recipe.success==0">Flop</span>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Difficulté</p>
            <span class="tag is-success is-medium" *ngIf="recipe.difficulty==0">Facile</span>
            <span class="tag is-warning is-medium" *ngIf="recipe.difficulty==1">Moyen</span>
            <span class="tag is-danger is-medium" *ngIf="recipe.difficulty==2">Difficile</span>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Temps</p>
            <span class="tag is-medium">{{recipe.time}}</span>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Prix</p>
            <span class="tag is-medium">{{recipe.cost}}€</span>
          </div>
        </div>
      </nav>
    </div>
  </section>
  
  <div class="container is-max-widescreen section" *ngIf="recipe !== undefined && recipe !== null">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="message">
          <div class="message-body">
            <p class="title is-6">Réalisée le {{recipe.date | date: 'dd/MM/yyyy'}}</p>
            <p class="title is-6">Recette du livre ...</p>
            <div class="is-divider"></div>
          </div>
        </article>
      </div>
      <div class="tile is-vertical is-8">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Conseils</p>
            <progress class="progress is-small is-primary" max="100">15%</progress>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="box">
        <section class="section has-text-centered">
          <h1 class="title">Ma réalisation</h1>
        </section>
        <carousel [images]="images" [arrows]="false" [pauseOnHover]="false" [height]="500" [cellWidth]="'100%'" [loop]="true" [lightDOM]="true" [autoplay]="true" [autoplayInterval]="4000" [transitionDuration]="2000" [dots]="true"></carousel>
      </div>
    </div>
  </div>