<section class="section is-small">
    <div class="container is-max-desktop section">
        <!--<article class="message is-primary">
            <div class="message-header">
              <p>Informations</p>
            </div>
            <div class="message-body">
              Site en cours de construction
            </div>
          </article>-->
          <div class="columns">
            <div class="column">
            </div>
            <div class="column is-two-fifths">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img src="https://media0.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif?cid=ecf05e478h04t2vpil4lvthl4s9ddrbui47ofqp7tcvrmblg&rid=giphy.gif&ct=g" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img class="is-rounded" src="https://inforpatissien-api.azurewebsites.net/assets/images/users/bro.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">Olivier Leperlier</p>
                      <p class="subtitle is-6">@L'Inforpatissien</p>
                    </div>
                  </div>
              
                  <div class="content">
                    L'informaticien qui pâtisse est actuellement indisponible. 
                    Il revient prochainement pour donner suite au développement de ce projet, en y apportant de nouvelles fonctionnalités. 
                    En attendant, il continue à pâtisser durant son temps libre et ne cesse de publier chacune de ses réalisations ! <a routerLink="/realisations">#réalisations</a>
                    <br><br>
                    <time datetime="2023-02-16">17:00 - 16 février 2023</time>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
            </div>
          </div>
          

    </div>
</section>


