<div class="modal" [ngClass]="{'is-active': modalIsActive}">
  <app-realization-form (closeEvent)="displayModal($event)" [show]="showSubject.asObservable()"></app-realization-form>
</div>

<section class="section container is-max-desktop">
    <div class="tabs">
      <ul>
        <li data-tab="contacts" class="is-active"><a href="#contacts">Réalisations</a></li>
      </ul>
    </div>
    
    <div class="box" id="contacts" data-example>
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title is-4 mb-2">Réalisations</h1>
        </div>
        <div class="column">
          <button class="button is-primary" (click)="displayModal(true)">Nouveau</button>
        </div>
      </div>
      
      <div class="list">
        <app-settings-item *ngFor="let realization of realizations; let index = index;" [realization]="realization"></app-settings-item>
      </div>
    </div>
    
  </section>
  
